body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --FLEX: flex
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  text-align: center;
  display: var(--FLEX);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  width: 100px;
}

.item {
  display: var(--FLEX);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.remove-btn {
  margin-left: 15px;
}

.counter-section {
  display: var(--FLEX);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* .btn {
  border: 1px solid black;
  background-color: blueviolet;
  color: whitesmoke;
  font-weight: bold;
} */

.useEffect {
  text-align: center;
}

.user-container {
  display: grid;
  grid-template-columns: 1fr 1fr
}

@media (max-width: 700px) {
  .user-container {
    grid-template-columns: 1fr;
    /* One column at a time for screens narrower than 768px */
  }
}